#root {
  display: flex;
  justify-content: center;
}

.clockLabel, .autoLabel, .tabLabel {
  font-family: 'Roboto', sans-serif;
  font-size: 25px;
  font-weight: 700;
}

.clock .contents {
  border: 2px solid black;
  background: orange;
  padding: 10px;
  color: white;
  font-weight: bold;
}

.clock {
  margin: 50px;
  width: 600px;
  font-size: 25px;
}

.clock p {
  font-family: 'Roboto', sans-serif;
}

.clock li {
  display: flex;
  justify-content: space-between;
}

.weather {
  font-family: 'Roboto', sans-serif;
  margin: 50px;
  width: 600px;
  font-size: 25px;
  font-weight: 700;
}

.weather .contents {
  border: 2px solid black;
  background: lightgreen;
  padding: 10px;
}

.weather p {
  display: flex;
  justify-content: space-around;
}

.interactive {
  width: 600px;
  height: 200px;
  margin: 50px;
  display: flex;
  justify-content: space-between;
}

.auto {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid black;
  background: violet;
  padding: 20px;
  height: 180px;
  width: 225px;
}

.auto > * {
  margin: 5px 10px;
}

.auto > ul {
  color: white;
  font-family: 'Open Sans', sans-serif;
}

.tabs {
  height: 100%;
  color: white;
  width: 240px;
}

.active {
  font-weight: bold;
}

.tab-header{
  width: 240px;
  height: 30px;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.tab-header > li {
  width: 80px;
  border: 2px solid black;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding-top: 2px;
  text-align: center;
  cursor: pointer;
  background-color: lightblue;
}

.tab-content {
  background: lightblue;
  border-right: 2px solid black;
  border-left: 2px solid black;
  border-bottom: 2px solid black;
  padding: 20px;
  height: 150px;
}
