<h1>Please login</h1>
<form action="/session/new" method="post">
  <input type="text" name="user[user_name]" placeholder="user_name">
  <input type="password" name="user[password]" placeholder="password">
  <input type="submit" value="Log In">
</form>
